# Movies Tonight Part 2: SQL DDL

In [1]:
%load_ext sql

1. **Create / Reset a SQLite database.** 
    - Name the database `Movies.db`.
    - Add `DROP TABLE IF EXISTS` queries make sure you have a blank database. 
    - Use SQL comments to ay what each line does

In [2]:
%%sql

sqlite:///Movies.db
    
/* Dropping 'Movie' Table */
DROP TABLE IF EXISTS CREDIT;
DROP TABLE IF EXISTS SHOW;
DROP TABLE IF EXISTS MOVIE;
DROP TABLE IF EXISTS THEATER;
DROP TABLE IF EXISTS ARTISTS;

Done.
Done.
Done.
Done.
Done.

[]

2. **Use SQL Create Table commands to implement the table designs you created in Part 1.** 
    - Take care with your data types! (You do not need to populate them yet. Thatâ€™s Part 3.) 
    - Use a surrogate key for the primary key of each table. The data type descriptor is `INTEGER PRIMARY KEY`.
    - If you make a mistake, recreate the database from scratch using your code from step 1 above.

In [3]:
%%sql

CREATE TABLE MOVIE (
    MID INTEGER PRIMARY KEY,
    M_Title TEXT NOT NULL,
    Rating TEXT
);

 * sqlite:///Movies.db
Done.

[]

In [4]:
%%sql


CREATE TABLE THEATER (
    TID INTEGER PRIMARY KEY,
    TName TEXT NOT NULL,
    Phone TEXT NULL,
    Location NOT NULL
);

 * sqlite:///Movies.db
Done.

[]

In [5]:
%%sql

CREATE TABLE ARTISTS (
    Name NOT NULL,
    AID INTEGER PRIMARY KEY
);

 * sqlite:///Movies.db
Done.

[]

In [6]:
%%sql

CREATE TABLE CREDIT (
    CCode TEXT NOT NULL,
    CID INTEGER PRIMARY KEY,
    AID INTEGER NOT NULL,
    TID INTEGER NOT NULL,
    FOREIGN KEY (AID) REFERENCES ARTISTS (AID),
    FOREIGN KEY (TID) REFERENCES THEATER (TID)
);

 * sqlite:///Movies.db
Done.

[]

In [7]:
%%sql

CREATE TABLE SHOW (
    SID INTEGER PRIMARY KEY,
    MID INTEGER NOT NULL,
    TID INTEGER NOT NULL,
    Show_Time TEXT NOT NULL,
    FOREIGN KEY (MID) REFERENCES MOVIE(MID),
    FOREIGN KEY (TID) REFERENCES THEATER(TID)
);

 * sqlite:///Movies.db
Done.

[]

4. **Save, add, commit, and push your work to GitHub.**  
Use the commit summary comment "Completed Part 2".